#clock {
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    font-size: 122px;
    padding-bottom: 20px;
    position: fixed;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    top: 20px;
    width: 100%;
}
/*.underlineclock {
    color: white;
    font-size: 122px;
    padding-bottom: 20px;
    position: fixed;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    top: 20px;
    left: 5px;
    width: 100%;
} */